*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

label,input{

    display: block;
   
    
}
h1{
    color: green;
}

div{
    margin-bottom: 15px;
}

label{
    margin-bottom: 5px;
}

body{
    background-image:url("https://cdn.hipwallpaper.com/i/35/91/nqEOQN.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    box-sizing: border-box;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#errors p{
    background-color: orangered;
    padding: 10px;
    color: aliceblue;

}